.imprimir {
  margin-top: 60px;
  font-size: 120%;
}

h3 {
  margin-bottom: 20px;
}

/* .assinatura {
    margin-top: 80px;
} */

.h1Style {
  font-size: 30px;
}

.div-row {
  margin-bottom: 10px;
}

.tbSerie {
  border-collapse: collapse;
  width: 90%;
}

.tbSerieThTd {
  border: 1px solid;
  height: 1cm;
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}
.align-self-start {
  align-self: start;
}
.mr-3 {
  margin-right: 3;
}
.mt-5 {
  margin-top: 5px;
}
.mb-0 {
  margin-bottom: 0px;
}
